@font-face {

	font-family: 'Gill Sans MT';

	src: url('fonts/gillsansmt.eot');

	src: local('fonts/gillsansmt'),
	url('fonts/gillsansmt.woff') format('woff'), url('fonts/gillsansmt.ttf')
	format('truetype');

}

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
  	font-family: 'Gill Sans MT', Tahoma, sans-serif ! important;
	font-size: 12px;
	background-color: #ABC;
}

header {
	height: 0px;
}
footer {
	height: 80px;
	padding-top: 20px;
	text-align: center;
	color: #fbf6e8;
}
#main {
	position: relative;
	min-height: 500px;
}
#map {
	height: 580px;
	width: 100%;

}
.cartodb-logo {
	display: none!important;
}
div.cartodb-zoom {
	position: absolute;
	top: 60px;
	right: 20px;
}
aside {
	position: absolute;
	left: 0;
	top: 40px;
	z-index: 1000;
	padding: 10px 10px 10px 10px;
}

.filterWrapper {
	padding: 10px 0 10px 0;
}
#propertyType div{
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
}


.leaflet-draw-draw-polyline, .leaflet-draw-draw-polygon, .leaflet-draw-draw-marker {
	display: none!important;
}

.leaflet-bar {
	border-radius: 0px;
}


.ui-autocomplete.ui-menu {
	z-index:10000000;
	background-color: rgba(255,255,255,0.7);
}

.leaflet-draw.leaflet-control {
	margin-top: 81px;
  	margin-left: 216px;
}
.leaflet-draw-toolbar {
	box-shadow: none;
}
.leaflet-draw-draw-rectangle, .leaflet-draw-draw-circle  {
	display: inline-block !important;
	margin-right: 1px;
}
.leaflet-top.leaflet-right.popupOpen {
	right: 400px;
	transition: right 0.3s ease-in-out;
}
.leaflet-top.leaflet-right {
	right: 0px;
	transition: right 0.3s ease-in-out;
}
.leaflet-top {
	top: 40px;
}

.right-sidebar {
	pointer-events: auto !important;
}
